/src/main/webapp/vendor/fontawesome-free-5.0.6/advanced-options/use-with-node-js/fontawesome-common-types/nbproject/private/
/src/main/webapp/vendor/fontawesome-free-5.0.6/advanced-options/use-with-node-js/fontawesome-free-regular/nbproject/private/
/src/main/webapp/vendor/fontawesome-free-5.0.6/advanced-options/use-with-node-js/fontawesome-free-solid/nbproject/private/
/src/main/webapp/vendor/fontawesome-free-5.0.6/advanced-options/use-with-node-js/fontawesome-free-webfonts/nbproject/private/
/src/main/webapp/vendor/fontawesome-free-5.0.6/advanced-options/use-with-node-js/fontawesome/nbproject/private/
/target/