/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2018, 2:40:09 PM
    Author     : ASAPH-001
*/

.gravar {
    background-color: #33CCCC;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.gravar:hover {opacity: 2}
